FORMAT: 1A
HOST: http://private-34636-gasandelectricityusage.apiary-mock.com:8001

# Gas and Electricity Usage

Gives a real time current and previous months usage of Gas and Electricity Services

## Current Month 4859634 [/usage/current/month/4859634]

### Current Usage [GET]

+ Response 200 (application/json)

    + Body        

            [
                {
                    "account_number": "4859634",
                    "name": "Maurice",
                    "gas_usage": "20,006 Btu",
                    "gas_cost": "¥ 46,896",
                    "electricity_usage": "3,430 kW",
                    "electricity_cost": "¥ 12,932",
                    "enviornment": "Japan 1"
                }
            ]


## Last Month 4859634 [/usage/last/month/4859634]

### Last Month Usage [GET]

+ Response 200 (application/json)

        [
            {
                "account_number": "4859634",
                "name": "Maurice",
                "gas_usage": "30,000 Btu",
                "gas_cost": "¥ 56,436",
                "electricity_usage": "2,920 kW",
                "electricity_cost": "¥ 8,210",
                "enviornment": "Japan 1"
            }
        ]
        
        
        
## Current Month 5845241 [/usage/current/month/5845241]

### Current Usage [GET]

+ Response 200 (application/json)

        [
            {
                "account_number": "5845241",
                "name": "John",
                "gas_usage": "45,200 Btu",
                "gas_cost": "¥ 73,295",
                "electricity_usage": "0 kW",
                "electricity_cost": "¥ 0",
                "enviornment": "Japan 1"
            }
        ]


## Last Month 5845241 [/usage/last/month/5845241]

### Last Month Usage [GET]

+ Response 200 (application/json)

        [
            {
                "account_number": "5845241",
                "name": "John",
                "gas_usage": "923,100 Btu",
                "gas_cost": "¥ 453,332",
                "electricity_usage": "0 kW",
                "electricity_cost": "¥ 0",
                "enviornment": "Japan 1"
            }
        ]